body {
    position: relative;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

#home_text {
    width: 30%;
}

#home_pic {
    border-radius: 50%;
    box-shadow: 5px 5px 20px rgba(145, 154, 231, 0.87);
}

