:root {
    font-size: 20px;
    letter-spacing: 1px;
}

body {
    position: relative;
    font-family: "berlin_bold", Verdana, sans-serif;
}

section {
    min-height: 100vh;
}

h1 {
    font-family: "berlin_xbold", Verdana, sans-serif;
}

.nav-buffer {
    width: 100%;
}

.flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-narrow {
    width: 400px;
}

.text-wide {
    width: 550px;
}

.section-heading {
    text-align: center;
    margin-top: 3rem;
}

.gap-7 {
    gap: 7rem;
}

/* HOME SECTION */

#home_pic {
    border-radius: 50%;
}

#home_pic_shadow {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-color: rgb(156, 156, 255);
    z-index: -5;
    filter: blur(5px);
    transform: translate(2%, -98%);
}

#home_pic_container > .fa-play {
    position: absolute;
    font-size: 16.5rem;
}

#home_triangle {
    color: rgb(255, 251, 22);
    transform: translate(70%, -55%) rotate(-75deg);
    z-index: -1;
}

#home_triangle_shadow {
    color: rgb(255, 253, 133);
    transform: translate(73%, -52%) rotate(-75deg);
    z-index: -2;
    filter: blur(4px);
}

#home_pic_container > .fa-square {
    position: absolute;
    font-size: 14.5rem;
}

#home_square {
    color: rgb(143, 14, 218);
    transform: translate(-50%, 25%) rotate(-25deg);
    z-index: -3;
}

#home_square_shadow {
    color: rgb(212, 137, 255);
    transform: translate(-47%, 28%) rotate(-25deg);
    z-index: -4;
    filter: blur(6px);
}

#about_pic {
    border-radius: 20px;
    box-shadow: 5px 5px 20px 5px rgb(201, 201, 201);
}

.qualifications_group, .qualifications_group p {
    width: 300px;
    margin: 0;
}


.fa-free-code-camp, .fa-graduation-cap {
    font-size: 5rem;
}

.qualifications_icon {
    height: 5rem;
    line-height: 5rem;
}

#cs50 {
    font-family: "berlin_xbold", Verdana, sans-serif;
    font-size: 4rem;
}

.qualifications_org {
    font-family: "berlin_xbold", Verdana, sans-serif;
    font-size: 1.5rem;
}